<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shoppingapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/download"
        android:label="@string/app_name"
        android:roundIcon="@drawable/download"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShoppingApplication">
        <activity
            android:name=".UpdateProductHere"
            android:exported="false" />
        <activity
            android:name=".AdminManageUser"
            android:exported="false" />
        <activity
            android:name=".AdminManageCategory"
            android:exported="false" />
        <activity
            android:name=".Browse_product"
            android:exported="false" />
        <activity
            android:name=".MyOrdersMain"
            android:exported="false" />
        <activity
            android:name=".ManageProduct"
            android:exported="false" />
        <activity
            android:name=".MainAdminPage"
            android:exported="false" />
        <activity
            android:name=".MainCart"
            android:exported="false" />
        <activity
            android:name=".MainUserPage"
            android:exported="false" />
        <activity
            android:name=".MainLoginAsAdmin"
            android:exported="false"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".MainCreateAccount"
            android:exported="false"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".MainForgotPassword"
            android:exported="false"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".MainLoginPage"
            android:exported="false"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/MyTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>